<!doctype html>
<html>
<title>Hiking Information</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdn.aerisapi.com/wxblox/latest/aeris-wxblox.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
<div class=page>
    {% block content %}{% endblock %}
</div>
</div>
</html>
